@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;
  margin: 16px 0px;
  position: relative;
}
.home {
  padding: 10px;
}
.home ul li {
  width: 14px;
  list-style: none;
  display: flex;
  gap: 10px;
  padding-top: 14px;
  font-weight: bold;
}
.heading {
  width: 178px;
  list-style: none;
  display: flex;
  gap: 10px;
  padding-top: 14px;
  font-weight: bold;
  align-items: center;
  padding: 23px 14px;
  font-size: 13px;
}
.heading img {
  width: 30px;
}

.library {
  min-height: 80vh;
  position: relative;
}
.footer {
  display: flex;
  font-size: 10px;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.footer a {
  color: grey;
  
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  height: 80px;
}
.header > * {
  padding: 20px;
}
.spotify-playlist {
  padding: 16px;
}
.card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px;
  max-height: 70vh;
  overflow-y: scroll;
}
.card {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
}
.card > * {
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
}
.play {
  position: absolute;
  top: 114px;
  right: 15px;
  opacity: 0;
  transition: all 1s ease-out;
  
}
.play img {
  width: 43px;
  height: 43px;
}
.buttons>*{
  margin: 0 12px;
}
.signupbtn{
  background-color: rgb(34, 34, 34);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
}
.signupbtn:hover{
  font-size: 1.1rem;
  color: white;
  font-size: 17px;
}
.loginbtn{
  background-color: white;
  border-radius: 21px;
  color: black;
  cursor: pointer;
  width: 79px;
  padding: 10px;
  font-size: 15px;

}
.loginbtn:hover{
  font-weight: bold;
  padding: 10px 14px;
  font-size: 17px;

}

.playbar{
  position: absolute;
  bottom: 0;
  background-color: rgb(50, 75, 50);
  width: 100%;
  padding: 12px;
}
.songbuttons{
  display: flex;
  justify-content: center;
  gap: 16px;
}